In [1]:
# website -> themoviedb.org
# api key -> "8265bd1679663a7ea12ac168da84d2e8"
# url - https://api.themoviedb.org/3/movie/top_rated?api_key=8265bd1679663a7ea12ac168da84d2e8&language=en-US&page=1

In [ ]:
# "requests" library - it helps us hit http:// requests

In [2]:
import pandas as pd
import requests

In [ ]:
# requests - 
# a. GET request - get(url = .., params = {dict}) , 
# b. POST request - post(url = .., json = <payload>) : json -> send data to url

In [3]:
response = requests.get("https://api.themoviedb.org/3/movie/top_rated?api_key=8265bd1679663a7ea12ac168da84d2e8&language=en-US&page=1")

In [5]:
response

In [16]:
total_pgs = response.json()["total_pages"]
total_pgs

498

In [9]:
test_df = pd.DataFrame(response.json()["results"])[["id","title","release_date","overview",
                                                    "popularity","vote_average","vote_count"]]

In [10]:
test_df

,id,title,release_date,overview,popularity,vote_average,vote_count
0,278,The Shawshank Redemption,1994-09-23,Framed in the 1940s for the double murder of h...,68.699,8.7,21409
1,19404,Dilwale Dulhania Le Jayenge,1995-10-20,"Raj is a rich, carefree, happy-go-lucky second...",25.772,8.7,3639
2,238,The Godfather,1972-03-14,"Spanning the years 1945 to 1955, a chronicle o...",67.896,8.7,15962
3,424,Schindler's List,1993-11-30,The true story of how businessman Oskar Schind...,45.099,8.6,12752
4,240,The Godfather: Part II,1974-12-20,In the continuing saga of the Corleone crime f...,45.162,8.6,9626
5,667257,Impossible Things,2021-06-17,A widow who is tormented by the memory of her ...,18.452,8.6,236
6,372754,Dou kyu sei â€“ Classmates,2016-02-20,"Rihito Sajo, an honor student with a perfect s...",15.920,8.6,228
7,129,Spirited Away,2001-07-20,"A young girl, Chihiro, becomes trapped in a st...",86.807,8.5,12823
8,372058,Your Name.,2016-08-26,High schoolers Mitsuha and Taki are complete s...,167.307,8.5,8689
9,696374,Gabriel's Inferno,2020-05-29,An intriguing and sinful exploration of seduct...,11.907,8.5,2244
10,724089,Gabriel's Inferno: Part II,2020-07-31,Professor Gabriel Emerson finally learns the t...,16.508,8.5,1411
11,496243,Parasite,2019-05-30,"All unemployed, Ki-taek's family takes peculia...",80.404,8.5,13685
12,389,12 Angry Men,1957-04-10,The defense and the prosecution have rested an...,26.604,8.5,6416
13,497,The Green Mile,1999-12-10,A supernatural tale set on death row in a Sout...,53.980,8.5,13920
14,761053,Gabriel's Inferno: Part III,2020-11-19,The final part of the film adaption of the ero...,23.949,8.5,963
15,155,The Dark Knight,2008-07-14,Batman raises the stakes in his war on crime. ...,85.538,8.5,27543
16,652837,"Josee, the Tiger and the Fish",2020-12-25,"With dreams of diving abroad, Tsuneo gets a jo...",21.187,8.5,226
17,680,Pulp Fiction,1994-09-10,"A burger-loving hit man, his philosophical par...",57.087,8.5,23132
18,429,"The Good, the Bad and the Ugly",1966-12-23,While the Civil War rages between the Union an...,46.221,8.5,6629
19,122,The Lord of the Rings: The Return of the King,2003-12-01,Aragorn is revealed as the heir to the ancient...,97.429,8.5,19521

In [18]:
# for loop 
df = pd.DataFrame()

In [19]:
for i in range(1,(total_pgs+1)):
        response = requests.get("https://api.themoviedb.org/3/movie/top_rated?api_key=8265bd1679663a7ea12ac168da84d2e8&language=en-US&page={}".format(i))
        temp_df = pd.DataFrame(response.json()["results"])[["id","title","release_date","overview",
                                                    "popularity","vote_average","vote_count"]]
        df = df.append(temp_df,ignore_index=True)

In [21]:
df.shape

(9948, 7)

In [23]:
response.json()["total_results"]

9948