In [2]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
%matplotlib inline

In [3]:
df = pd.read_csv("Social_Network_Ads.csv")

In [4]:
df.head()

    User ID  Gender  Age  EstimatedSalary  Purchased
0  15624510    Male   19            19000          0
1  15810944    Male   35            20000          0
2  15668575  Female   26            43000          0
3  15603246  Female   27            57000          0
4  15804002    Male   19            76000          0

In [5]:
df["Gender"].replace({"Male" : 0, "Female" : 1}, inplace=True)

In [6]:
X = df.iloc[:,1:4]
y = df.iloc[:,-1]

In [7]:
from sklearn.model_selection import train_test_split
X_train,X_test,y_train,y_test = train_test_split(X,y,test_size=0.3,random_state=42)

In [8]:
from sklearn.tree import DecisionTreeClassifier
clf = DecisionTreeClassifier()

In [23]:
params = {"criterion" : ["gini","entropy"],
         "splitter" : ["best","random"],
         "max_depth" : ["None"]+list(range(1,15)),
         #"min_samples_split" : list(range(1,X_train.shape[0]+1,5)),
         #"min_samples_leaf" : list(range(1,X_train.shape[0]+1,5)),
         "max_features" : [1,2,3],
         "max_leaf_nodes" : list(range(1,40)),
         "min_impurity_decrease" : [x * 0.001 for x in range(0, 1000)]}

In [18]:
from sklearn.model_selection import GridSearchCV

In [24]:
grid = GridSearchCV(clf,param_grid=params,scoring = "accuracy",n_jobs=-1,cv=10)

In [ ]:
grid.fit(X_train,y_train)